{% extends "base.html" %}

{% block title %}Live{% endblock %}


{% block body %}

<div class="row">

    <div class="col-md-9">
        <!--
        <video id="videoElement" width="100%" height="500px" controls="controls"></video>
        -->
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>直播名称</th>
                    <th>用户ID</th>
                </tr>
            </thead>
            <tbody>
            {% for live in lives %}
                <tr>
                    <td>{{ live.id }}</td>
                    <td>{{ live.name }}</td>
                    <td>{{ live.user_id }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </tbody>
    </div>

    <div class="col-md-3">

    </div>


</div>

{% endblock %}


{% block tail_js %}
{{ super() }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/flv.js/1.3.3/flv.min.js"></script>

<script>
if (flvjs.isSupported()){
    //获取video标签
    var videoElement = document.getElementById('videoElement');
    //初始化播放器
    var flvPlayer = flvjs.createPlayer({
            //流的类型
            type: 'flv',
            //是否是直播
            isLive: true,
            //直播地址
            url: 'https://qn.live-play.acgvideo.com/live-qn/393376/live_110631_5953326.flv?wsSecret=11280fd4da159d7ccaf5628103979dd1&wsTime=1512448670'
            });

    flvPlayer.attachMediaElement(videoElement);
    flvPlayer.load();
    //播放直播
    flvPlayer.play();
    }

</script>





{% endblock %}
